/*Copyright © Sam Poulton 2020. All rights reserved.*/
:root {
    --background-col: #333;
    --foreground-col: #eee;
    --green: #00ff99;
    --blue: #0066ff;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h1.navbar-brand *  {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar, .container {
    background-color: var(--background-col);
    color:var(--foreground-col);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display:flex;
}

.navbar {
    z-index:1;
}

.navbar > * {
    margin:5px;
}

.container {
    background: revert;
    flex-direction: column;
    height: 100%
}

.jumbo {
    padding-top:48px;
    background: linear-gradient(30deg, var(--green), var(--blue));
}

.jumbo > * {
    color:white;
    padding:10px;
}

.jumbo > h1 {
    font-size:3rem;
    margin-bottom:0;
}

.jumbo > h3 {
    margin-top:0;
}

.widgetContainer {
    background-color: var(--background-col);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.widgetContainer > div {
    width:400px;
    height:175px;
    margin:20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--background-col);
    background-color: var(--foreground-col);
}

.widgetContainer > div > h1 {
    display: inline;
}

.widgetContainer > div > img {
    width:32px;
    height:32px;
    float: right;
}

a {
    color: var(--background-col);
}

.bottom {
    color: var(--foreground-col);
    background-color: var(--background-col);
    margin:0;
    text-align: center;
}

.bottom a {
    color: inherit;
}
